<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>
			New Entry System
		</h1>
		<form action="/entry_systems" class="new_entry_system" id="new_entry_system" method="post" name="new_entry_system">
			<div style="margin:0;padding:0"></div>
			<p>
				The name and manufacturer are the required details:
			</p>
			<ul>
				<li>
					<label for="entry_system_name">Name</label> <input id="entry_system_name" name="name" size="30" type="text">
				</li>
				<li>
					<label for="entry_system_manufacturer">Manufacturer</label> <input id="entry_system_manufacturer" name="manufacturer" size="30" type="text">
				</li>
				<li>
					<label for="entry_system_prompt">Prompt</label> <input id="entry_system_prompt" name="prompt" size="30" type="text">
				</li>
				<li>
					<label for="entry_system_password">Password</label> <input id="entry_system_password" name="password" size="30" type="text">
				</li>
				<li>
					<input type="submit" value="SUBMIT">
				</li>
			</ul>
		</form>
	</body>
</html>
