<h2>upload image for: <%= @entry_system.manufacturer %> - <%= @entry_system.name %></h1>
<form action="/entry_systems/<%= @entry_system.id %>/image" method="post" enctype="multipart/form-data">
	<% unless @image.errors.empty? %>
		<ul class="errors">
			<%= @image.errors.map {|msg| "<li>#{msg}</li>"} %>
		</ul>
	<% end %>
	<ul>
		<li>
			<label for="image">image: </label>
			<input type="file" name="image" id="image">
		</li>
		<li>or</li>
		<li>
			<label for="link">link: </label>
			<input type="text" name="link" id="link">
		</li>
		<li><input type="submit" value="upload &rarr;"></li>
		<li>
			<a href="/">&larr; index</a>
		</li>
	</ul>
</form>