<h1>entry system</h1>
<h2><%= @entry_system.manufacturer %></h2>
<h3>
	<%= @entry_system.name %>
</h3>
<ul>
	<li>
		<%= @entry_system.prompt %>
	</li>
	<li>
		<%= @entry_system.password %>
	</li>
</ul>
